In [2]:
import pandas as pd

In [3]:
# Read data stored in 'balance.txt' into a DataFrame.
df = pd.read_csv('balance.txt', delim_whitespace=True)
df.head()

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian

Notice how we can use the `mean()` function to find average values.

In [ ]:
print("The average income of a female is", df[df.Gender == "Female"].loc[:,"Income"].mean())
print("The average income of a male is",df[df.Gender == "Male"].loc[:,"Income"].mean())

The average income of a female is 44.85392753623188
The average income of a male is 45.610316062176175

Notice how we use the `groupby()` function below.
Find out more about the [groupby function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html#pandas.DataFrame.groupby) in the pandas documentation.

In [ ]:
print(df.groupby(['Gender']).mean(numeric_only=True))

         Balance     Income        Limit      Rating     Cards        Age  \
Gender
Female  13.41401  44.853928  4756.516908  356.265700  2.927536  55.734300
Male    13.44544  45.610316  4713.165803  353.518135  2.989637  55.595855

        Education
Gender
Female  13.434783
Male    13.466321

In [ ]:
print("The average age of people in our dataset is", df.loc[:, "Age"].mean())

The average age of people in our dataset is 55.6675

Besides finding average (mean) values we can also find other descriptive statistics such as max and min values. Find more [descriptive statistic methods](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats) in the pandas documentation.

In [ ]:
print("The youngest person in our dataset is", df.loc[:, "Age"].min())
print("The oldest person in our dataset is", df.loc[:, "Age"].max())

The youngest person in our dataset is 23
The oldest person in our dataset is 98